.Rproj.user
.Rhistory
.RData
.Ruserdata   
*.Rdata
*.html
*.pdf
*.png
*rsconnect*
*.Rds

#UE backup files
*.bak

#knitr caches
*_cache

#ignore data
capabilities.csv
scenarios.csv

# ignore knited files
*.pdf
*.html
*.docx
